.AdvertisementsContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.AdvertisementsContent div {
  width: 30vw;
  height: 40vh;
  margin: 2vw;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
